In [1]:
import pandas as pd
from googlesearch import searchfrom googlesearch import search

In [90]:
def get_name(feed, query):
    test = query[0:4]
    if test.lower() in feed:
        b = 'Yes'
    else:
        b = "No"
    return b

In [117]:
def get_type(feed):
    if 'linkedin' in feed:
        a = 'linkedin'
    elif 'twitter' in feed:
        a = 'twitter'
    elif 'facebook' in feed:
        a = 'facebook'
    elif 'instagram' in feed:
        a = 'instagram'
    else:
        a = 'None'

    return a

In [118]:

def get_result(query):
    store = []
    for j in search(query, tld="com", num=25, stop=25, pause=1): 
        store.append(j.lower())
        g = pd.DataFrame({'query':query, 'url':store})
        g['type'] = g.apply(lambda x: get_type(x['url']), axis=1)
        g['own'] = g.apply(lambda x: get_name(x['url'], query), axis=1)
        g = g[(g['type'] != "None") & (g['own'] == 'Yes')]
    return g

In [119]:
%%time
names = ['Sintyadi Thong', 'Pandji Fareza', 'Rizqiari Ikram', 'Nurul Maghfirah', 'Jofinno Herian', 'Agnes Caecilia Catherine Handoko', 'Sonna Lobo']

mydf = pd.DataFrame()
for get in names:
    mydf = pd.concat([mydf, get_result(get)], ignore_index=True)
mydf.drop_duplicates(subset=['query','type'], inplace=True)

Wall time: 27.5 s

In [120]:
mydf

,query,url,type,own
0,Sintyadi Thong,https://twitter.com/sintyadi/media?lang=en,twitter,Yes
1,Pandji Fareza,https://id.linkedin.com/in/pandji-a-fareza-b90...,linkedin,Yes
2,Pandji Fareza,https://twitter.com/pandjireza,twitter,Yes
3,Pandji Fareza,https://id-id.facebook.com/public/pandji-ahmad...,facebook,Yes
5,Rizqiari Ikram,https://id.linkedin.com/in/rizqiari,linkedin,Yes
6,Rizqiari Ikram,https://id-id.facebook.com/rizqiari.ikram,facebook,Yes
9,Nurul Maghfirah,https://www.facebook.com/public/nurul-maghfirah,facebook,Yes
11,Nurul Maghfirah,https://www.linkedin.com/pub/dir/nurul/maghfirah,linkedin,Yes
12,Nurul Maghfirah,https://twitter.com/maghfirah_nurul?lang=en,twitter,Yes
13,Jofinno Herian,https://id.linkedin.com/in/jofinnoherian,linkedin,Yes
14,Jofinno Herian,https://twitter.com/jofinno?lang=en,twitter,Yes
15,Jofinno Herian,https://www.facebook.com/jofinno,facebook,Yes
17,Jofinno Herian,https://www.instagram.com/jofinnoherian/,instagram,Yes
18,Agnes Caecilia Catherine Handoko,https://id.linkedin.com/in/agnes-c-catherine-h...,linkedin,Yes